/*!
 * Modifications of standard grayscale CSS
 */

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border: 1px solid;
}

.content-section {
    padding-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }
}

