/*!
 * Modifications of standard grayscale CSS
 */

.thumbnail {
  display: block;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 1px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}


a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border: 1px solid;
}

.content-section {
    padding-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }
}

